<header id="main-header" class="py-2 lack text-purple mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-users-class"></i> Notas estudiantes    
          </h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <table class="table">
      <thead class="table-dark">
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre1</th>
              <th scope="col">Matemáticas</th>
              <th scope="col">Física</th>
              <th scope="col">Sociales</th>
              <th scope="col">Química</th>                   
              <th scope="col"><i class="fas fa-edit"></i>Editar</th>   
              <th scope="col"><i class="fas fa-trash-alt"></i>Eliminar</th>            
            </tr>
      </thead>
      <tbody *ngFor="let estudent of listEstudents">
        <tr>          
          <th>{{estudent.idEstudent}} </th>            
          <td>{{estudent.name}} </td>
          <td>ddd</td>
          <td>ffdfg</td>
          <td>ddd</td>
          <td>ffdfg</td>    
        </tr>                
      </tbody>
    </table>

  </div>

